<nav>
    <div>
        <div class="logo-area">
            <img [src]="isMenuOpen ? 'assets/img/logo_blue.svg' : 'assets/img/logo.svg'" alt="Logo" />
            <app-language-switch></app-language-switch>
        </div>
        <ul>
            <li class="nav-link"><a href="#">About me</a></li>
            <li class="nav-link"><a href="#">Skillset</a></li>
            <li class="nav-link"><a href="#">My work</a></li>
            <li class="nav-link"><a href="#">Contact</a></li>
        </ul>
        <div class="menu-icon">
            <app-burger-icon  (menuClicked)="onMenuToggle()"></app-burger-icon>
        </div> 
    </div>
</nav>
<app-mobile-navmenu [class.menu-open]="isMenuOpen"></app-mobile-navmenu>