@import '../../../../shared/variables';
@import '../../../../shared/mixins';

nav {
    @include flex();
    height: 114px;
    width: 100%;
    padding: 24px 32px;
    position: absolute;
    z-index: 999;

    @media (max-width: $breakpoint-md) {
        height: 96px;
        padding: 24px;
    }

    >div {
        @include flex($justify: space-between);
        width: 100%;
        max-width: 1440px;

        img {
            width: 64px;
            height: auto;

            @media (max-width: $breakpoint-md) {
                width: 48px;
            }
        }

        >ul {
            @include flex();
            gap: 24px;
            list-style-type: none;

            @media (max-width: $breakpoint-md) {
                display: none;
            }
        }
    }
}

.nav-link {
    padding: 8px 16px;

    &:hover {
        border-bottom: 3px solid $base-color;
        cursor: pointer;

        > a {
            font-weight: 700;
        }
    }

    >a {
        font-size: 24px;
    }
}

div.menu-icon {
    display: none;

    @media (max-width: $breakpoint-md) {
        display: block;
    }
}