@import '../../../../shared/variables';
@import '../../../../shared/mixins';

nav {
    @include flex();
    height: 114px;
    width: 100%;
    padding: 24px 32px;
    position: absolute;
    z-index: 2;

    >div {
        @include flex($justify: space-between);
        width: 100%;
        max-width: 1440px;

        >ul {
            @include flex();
            gap: 24px;
            list-style-type: none;
        }
    }
}

.nav-link {
    padding: 8px 16px;

    &:hover {
        border-bottom: 3px solid $base-color;
        cursor: pointer;

        > a {
            font-weight: 700;
        }
    }

    >a {
        font-size: 24px;
    }
}