<nav>
    <div>
        <div class="logo-area">
            <img [src]="isMenuOpen ? 'assets/img/logo_blue.svg' : 'assets/img/logo.svg'" alt="Logo" />
            <app-language-switch></app-language-switch>
        </div>
        <ul>
            <li class="nav-link"><a href="#about">{{ 'about.title' | translate }}</a></li>
            <li class="nav-link"><a href="#skillset">Skillset</a></li>
            <li class="nav-link"><a href="#projects">{{ 'projects.title' | translate }}</a></li>
            <li class="nav-link"><a href="#contact">{{ 'contact.title' | translate }}</a></li>
        </ul>
        <div class="menu-icon">
            <app-burger-icon (menuClicked)="onMenuToggle()" [isActive]="isMenuOpen"></app-burger-icon>
        </div> 
    </div>
</nav>
<app-mobile-navmenu [class.menu-open]="isMenuOpen" (menuClosed)="onMenuToggle()"></app-mobile-navmenu>