<div class="growth-icon">
    <img src="assets/img/growth.svg" alt="Growth Mindset">
    <span>Growth<br/>Mindset</span>
    <div class="growth-bubble-wrapper">
        <div>
            {{ 'skills.interest' | translate }}
            <div class="skills">
                <div class="icon">
                    <img src="/assets/img/vue.svg" alt="">
                    Vue.js
                </div>
                <div class="icon">
                    <img src="/assets/img/react.svg" alt="">
                    React
                </div>
            </div>
        </div>
    </div>
</div>
