<section class="background-dark">
    <div class="content">
        <h2>
            Skillset
        </h2>
        <div class="skills-list">
            @for (item of skills; track item) {
                <div class="skill">
                    <img [src]="'assets/img/' + item.img" alt="{{ item.title }}">
                    <span [innerHTML]="item.title" [attr.data-text]="item.title"></span>
                </div>
            }
            <app-growth-icon></app-growth-icon>
        </div>
    </div>
</section>