@import '../../../shared/variables';
@import '../../../shared/mixins';

section {

    div.content {
        @include flex($direction: column);

        > h2 {
            color: $color-white;
            margin-bottom: 32px;
        }
    }

    div.skills-list {
        @include flex($align: start);
        flex-wrap: wrap;
        max-width: 900px;
        gap: 72px;
        
        > div.skill {
            @include flex($direction: column);
            gap: 16px;

            > img {
                height: 75px;
                width: auto;
                transition: all 0.125s ease;
            }

            > span {
                color: $color-white;
            }

            &:hover {
                > img {
                    transform: translateY(-4px) scale(1.05);
                }

                > span {
                    font-weight: 700;
                }
            }
        }
    }
}