@import '../../../shared/mixins';
@import '../../../shared/variables';

section {
    @include flex();
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    @media (max-width: $breakpoint-md) {
        height: auto;
    }

    >div.content {
        @include flex;
        z-index: 1;

        @media (max-width: $breakpoint-md) {
            @include flex($direction:column-reverse, $justify: space-between);
            margin-top: 104px;
            background-color: aquamarine;
            height: auto;
        }

        > div {
            @include flex($direction: column);
            flex: 1;
            height: 100vh;
            background-color: rebeccapurple;

            @media (max-width: $breakpoint-md) {
                height: auto;
            }

            >img {
                height: auto;
                width: 100%;
                margin-top: auto;
            }
        }
    }
}

h1 {
    font-family: 'Baloo';
    color: $base-color;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: -2.5%;
    text-transform: uppercase;
    text-align: center;

    @media (max-width: $breakpoint-xl) {
        font-size: 72px;
        line-height: 72px;
    }

    @media (max-width: $breakpoint-lg) {
        font-size: 64px;
        line-height: 64px;
    }

    @media (max-width: $breakpoint-md) {
        font-size: 72px;
        line-height: 72px;
        color: $color-white;
    }

    @media (max-width: $breakpoint-sm) {
        font-size: 54px;
        line-height: 54px;
    }
}

span {
    color: $base-color;
    font-size: 48px;
    text-align: center;

    @media (max-width: $breakpoint-sm) {
        font-size: 42px;
    }

    @media (max-width: $breakpoint-md) {
        font-size: 20px;
        color: $color-white;
    }

    @media (max-width: $breakpoint-lg) {
        font-size: 24px;
    }

    @media (max-width: $breakpoint-xl) {
        font-size: 36px;
    }
}

.bubble {
    width: 890px;
    height: 890px;
    top: -400px;
    left: -400px;

    @media (max-width: $breakpoint-xl) {
        top: -500px;
        left: -500px;
    }

    @media (max-width: $breakpoint-lg) {
        width: 50vw;
        height: 50vw;
        top: -25vh;
        left: -25vw;
    }

    @media (max-width: $breakpoint-md) {
        width: 200vw;
        height: 200vw;
        top: -90vw;
        left: -90vw;
    }
}

.social-icons {
    @include flex($direction: column);
    gap: 8px;
    position: absolute;
    right: 32px;
    bottom: 24px;
    z-index: 1;
}