<app-navbar></app-navbar>
<section class="background-light">
    <div class="content">
        <div class="bubble"></div>
        <div class="main-content">
            <img src="assets/img/portrait.png" alt="It's me!"> 
        </div>
        <div class="main-content greeting-container" data-aos="fade-up" data-aos-delay="100">
            <span class="greeting">{{ 'hero.greeting' | translate }}</span>
            <h1>
                Frontend
                <br />
                Developer
            </h1>
        </div>
        <div class="social-icons">
            @for (item of socialIcons; track item) {
                <app-social-icon [icon]="item"></app-social-icon>
            }
        </div>
    </div>
    <div class="scroll">
        <span>Scroll</span>
        <div></div>
    </div>
</section>
<div class="scroll-mobile">
    <span>Scroll down</span>
    <img src="assets/img/arrow-down.svg">
</div>