@import '../../../shared/variables';
@import '../../../shared/mixins';

section {
  
    div.content {
        @include flex($direction: column);
        overflow: hidden;

        >h2 {
            color: $color-white;
            font-size: 40px;
        }

        span {
            color: $color-white;
            font-size: 24px;
        }
    }
}

div.credentials {
    @include flex($align: start);
    gap: 24px;
    margin-top: 64px;
    max-width: 900px;

    @media (max-width: $breakpoint-md) {
        @include flex($justify: start, $align: start);
        padding: 16px 0;
        flex-wrap: nowrap;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
    }

    > div {
        flex: 1;
        @include flex($align: start, $direction: column);
        gap: 16px;

        @media (max-width: $breakpoint-md) {
            flex: 0 0 100%;    
            scroll-snap-align: start;
        }
        
        span.name {
            font-size: 24px;
            font-weight: 700;
        }

        span.position {
            font-size: 12px;
        }

        > p {
            margin-top: 8px;
            color: $color-white;
        }
    }
}