<section class="background-dark">
    <div class="content">
        <h2>{{ 'credentials.title' | translate }}</h2>
        <span>{{ 'credentials.subtitle' | translate }}</span>
        <div class="credentials">
            @for (entry of credentials; track entry) {
                <div>
                    <span class="name">{{ entry.name }}</span>
                    <span class="position">{{ 'credentials.project' | translate }} {{ entry.projectName }}</span>
                    <p>"{{ currentLanguage == 'de' ? entry.text_de : entry.text_en }}"</p>
                </div>
            }
        </div>
    </div>
</section>