<section class="background-dark">
    <div class="content">
        <h2>Need a team player?</h2>
        <span>Here's what others say about me</span>
        <div class="credentials">
            <div>
                <span class="name">James Rugman</span>
                <span class="position">Project Join</span>
                <p>‘‘Sofia is a reliable and friendly person. Work in a structured way and write a clear code. I  highly recommend her as a colleague.’’</p>
            </div>
            <div>
                <span class="name">Evelyn Marx</span>
                <span class="position">Project DA Bubble</span>
                <p>‘’ Sofia is a trustworthy teamplayer and can cope with the stress of deadlines. Structured work and clear code. ‘’</p>
            </div>
            <div>
                <span class="name">Noah Müller</span>
                <span class="position">Project Pollo Loco</span>
                <p>‘’Sofia  had to develop, format and deliver content in collaboration with the team members. She is a reliable and friendly person.’’</p>
            </div>
        </div>
    </div>
</section>