<section>
    <div class="content">
        <div class="bubble" id="bubble1"></div>
        <div class="bubble" id="bubble2"></div>
        <div class="bubble" id="bubble3"></div>
        <div class="headline-area">
            <h2>{{ 'projects.title' | translate }}</h2>
            <p>
                {{ 'projects.description' | translate }}
            </p>
        </div>
        <div class="project-list">
            @for (item of projects; track item; let i = $index) {
                <app-project [project]="item" [index]="i"></app-project>
            }
        </div>

    </div>
</section>