@import '../../../shared/variables';
@import '../../../shared/mixins';

section {
    div.content {
        div.headline-area {
            width: 50%;

            @media (max-width: $breakpoint-lg) {
                width: auto
            }

            > h2 {
                color: $base-color;
            }
        }
    }
}

div.project-list {
    @include flex($direction: column);
    gap: 64px;
    margin-top: 40px;
}