@import '../../../../colors';
@import '../../../shared/mixins';

section {
    div.content {
        max-width: 1440px;
        padding: 124px 32px;

        div.headline-area {
            width: 50%;

            > h2 {
                color: $base-color;
            }
        }
    }
}

div.project-list {
    @include flex($direction: column);
    gap: 64px;
    margin-top: 40px;
}