<section class="background-light">
    <div class="content">
        <div class="headline-area">
            <h2>{{ 'contact.title' | translate }}</h2>
        </div>
        <div class="contactform-area">
            <div>
                <span class="claim">{{ 'contact.problem' | translate }}</span>
                <p>
                    {{ 'contact.description' | translate }}
                </p>
            </div>
            <div>
                <app-contact-form></app-contact-form>
            </div>
        </div>
        <a class="up-button" href="#top">
            <img src="assets/img/up-button.svg" alt="">
        </a>
    </div>
</section>