<section>
    <div class="content">
        <div class="headline-area">
            <h2>Contact</h2>
        </div>
        <div class="contactform-area">
            <div>
                <span class="claim">Got a problem to solve?</span>
                <p>
                    Contact me through this form. I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.
                </p>
            </div>
            <form>
                <div class="input-container">
                    <input type="text" id="name" required placeholder="">
                    <label for="name">Your name *</label>
                </div>
                <div class="input-container">
                    <input type="email" id="email" required placeholder="">
                    <label for="email">Your email *</label>
                </div>
                <div class="input-container">
                    <textarea name="" id="" cols="8" required placeholder=""></textarea>
                    <label for="email">Your message *</label>
                </div>
                <div class="input-privacy">
                    <input type="checkbox" name="privacy" id="privacy" required>
                    <label for="privacy">
                        <div></div>
                        <span>
                            I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined. *
                        </span>
                    </label>
                        
                </div>
                <span class="requiered">* requiered</span>
                <button disabled>Say hello ;)</button>
            </form>
        </div>
    </div>
</section>