@import '../../../shared/variables';
@import '../../../shared/mixins';

section {
    div.content {

        div.headline-area {
            width: 50%;

            >h2 {
                color: $base-color;
            }
        }

        div.contactform-area {
            @include flex($justify: space-between, $align: start);
            gap: 32px;

            @media (max-width: $breakpoint-sm) {
                @include flex($direction: column);
            }

            >div {
                flex: 1;
                @include flex($align: start, $direction: column);
                gap: 32px;

                >span.claim {
                    color: $base-color;
                    font-size: 32px;
                    font-weight: 700;
                }
            }
        }
    }
}