@import '../../../shared/variables';
@import '../../../shared/mixins';

section {
    div.content {
        max-width: 1440px;
        padding: 124px 32px;

        div.headline-area {
            width: 50%;

            >h2 {
                color: $base-color;
            }
        }

        div.contactform-area {
            @include flex($justify: space-between, $align: start);
            gap: 32px;

            >div {
                flex: 1;
                @include flex($align: start, $direction: column);
                gap: 32px;

                >span.claim {
                    color: $base-color;
                    font-size: 32px;
                    font-weight: 700;
                }
            }
        }
    }
}