$base-color: rgba(89, 136, 255, 1);
$bask-color-light: rgba(234, 240, 255, 1);
$base-color-medium: rgba(89, 136, 255, 1);
$base-color-dark: rgba(0, 67, 240, 1);
$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(0, 0, 0, 1);
$color-grey: rgba(160, 160, 160, 1);
$color-error: rgba(230, 28, 64, 1);

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;