@import '../../../shared/variables';
@import '../../../shared/mixins';


section {

    >div.content {
        @include flex($align: start);
        gap: 32px;

        @media (max-width: $breakpoint-sm) {
            @include flex($direction: column);
        }

        > div {
            @include flex($direction: column);
            flex: 1; 
        }

        > div.about-text {
            @include flex($align: start, $direction: column);  
            
            @media (max-width: $breakpoint-sm) {
                @include flex($direction: column);
            }
        }
    }
}

div.about-icons {
    @include flex($justify: space-between);
    gap: 24px;

    @media (max-width: $breakpoint-lg) {
        @include flex($direction: column);
    }

    > div.icon-container {
        @include flex();
        gap: 16px;

        > div.icon {
            width: 63px;
            min-width: 63px;
            height: 55px;
            background-repeat: no-repeat;
        }

        >div.icon-location {
            background-image: url('/assets/img/location.png');

            &:hover {
                background-image: url('/assets/img/location_hover.png');
            }
        }

        >div.icon-remote {
            background-image: url('/assets/img/remote.png');

            &:hover {
                background-image: url('/assets/img/remote_hover.png');
            }
        }

        > span {
            color: $base-color;
            font-size: 18px;
        }
    }
}

p {
    margin-bottom: 24px;
}

.claim {
    font-family: 'Baloo';
    color: $base-color;
    font-size: 120px;
    line-height: 104px;
    margin-bottom: 32px;
 
    @media (max-width: $breakpoint-xl) {
        font-size: 96px;
        line-height: 88px;
    }

    @media (max-width: $breakpoint-lg) {
        font-size: 72px;
        line-height: 60px;
    }

    @media (max-width: $breakpoint-md) {
        font-size: 60px;
        line-height: 52px;
        text-align: center;
    }
}

.i-am {
    font-family: 'Baloo';
    color: $base-color;
    font-size: 42px;
    text-align: center;
    margin-bottom: 32px;

    @media (max-width: $breakpoint-md) {
        font-size: 36px;
    }
}

