<section>
    <div class="content">
        <div>
            <span class="claim">Let's work
                <br />
                togehter</span>
            <span class="i-am">I am</span>
            <div class="about-icons">
                <div class="icon">
                    <img src="assets/img/icon-location.svg" alt="">
                    <span>located in Borken, NRW</span>
                </div>
                <div class="icon">
                    <img src="assets/img/icon-remote.svg" alt="">
                    <span>open to remote work</span>
                </div>
            </div>
        </div>
        <div class="about-text">
            <p>
                I am a Frontend Developer based in Borken, NRW, Germany. I enjoy helping designers and companies bring their ideas to life. My ability to solve complex problems, combined with my passion for programming, makes me a valuable addition to your team.
            </p>
            <p>
                If you think I'd be a good fit for your projects, please feel free to contact me!
            </p>
            <a href="contact" target="_blank" class="button">
                Send a message
            </a>
        </div>
    </div>
</section>