<section>
    <div class="content">
        <div>
            <span class="claim">{{ 'about.title' | translate }}</span>
            <div class="about-icons">
                <div class="icon-container">
                    <div class="icon icon-location"></div>
                    <span>{{ 'about.location' | translate }}</span>
                </div>
                <div class="icon-container">
                    <div class="icon icon-remote"></div>
                    <span>{{ 'about.remote' | translate }}</span>
                </div>
            </div>
        </div>
        <div class="about-text">
            <p>
                {{ 'about.description' | translate }}
            </p>
            <p>
                {{ 'about.description2' | translate }}
            </p>
            <a href="contact" target="_blank" class="button">
                {{ 'general.sendMessage' | translate }}
            </a>
        </div>
    </div>
</section>