@import '../../variables';
@import '../../mixins';


:host {
    @include flex();
    position: fixed;
    z-index: 998;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.25s ease, transform 0.25s ease;
  
    &.menu-open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    nav {
        @include flex();
        width: 100vw;
        height: 100vh;
    
        >ul {
            @include flex($direction: column);
            gap: 24px;
            list-style-type: none;
            padding: 0;
            font-size: 24px;

            > li {
                cursor: pointer;
            }
        }
    }
    
}
  