<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div class="input-container">
        <input [(ngModel)]="formData.name" type="text" name="name" id="name" required placeholder="">
        <label for="name"> {{ 'form.name' | translate }} *</label>
    </div>
    <div class="input-container">
        <input [(ngModel)]="formData.email" name="email" type="email" id="email" required placeholder="" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
        <label for="email">{{ 'form.email' | translate }} *</label>
    </div>
    <div class="input-container">
        <textarea [(ngModel)]="formData.message" name="message" id="message" cols="8" required placeholder=""></textarea>
        <label for="message">{{ 'form.message' | translate }} *</label>
    </div>
    <div class="input-privacy">
        <input ngModel type="checkbox" name="privacy" id="privacy" required>
        <label for="privacy">
            <div></div>
            <span>
                {{ 'form.privacy' | translate }} *
            </span>
        </label>
    </div>
    <span class="requiered">* {{ 'form.required' | translate }}</span>
    <button [disabled]="contactForm.invalid">{{ 'form.buttontext' | translate }}</button>
</form>