@import '../../variables';
@import '../../mixins';

form {
    flex: 1;
    @include flex($align: start, $direction: column);
    gap: 32px;

    >div.input-privacy {

        >input[type='checkbox'] {
            display: none;
        }

        >label {
            @include flex($justify: start);
            gap: 8px;

            >div {
                width: 24px;
                height: 24px;
                min-width: 24px;
                background: url('/assets/img/checkbox.svg');

                &:hover {
                    cursor: pointer;
                    background: url('/assets/img/checkbox_hover.svg');
                }
            }
        }

        input[type="checkbox"]:checked+label>div {
            background: url('/assets/img/checkbox_checked.svg');
        }
    }

    >span.requiered {
        font-size: 12px;
    }
}

.input-container {
    position: relative;
    width: 100%;

    >input {
        height: 48px;
        position: relative;
    }

    >textarea {
        height: 124px;
    }

    >input,
    textarea {
        width: 100%;
        background-color: $color-white;

        &:focus+label,
        &:not(:placeholder-shown)+label {
            transform: translateY(-50%);
            top: 0;
            background: $color-white;
            padding: 0 4px;
            left: 20px;
        }
    }

    >label {
        position: absolute;
        top: 24px;
        left: 24px;
        transform: translateY(-50%);
        transition: all 0.25s ease;
        pointer-events: none;
        background: transparent;
    }
}

%validation-icon {
    &::after {
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.invalid {
    @extend %validation-icon;
    &::after {
        background-image: url('/assets/img/invalid.svg');
    }
}

.valid {
    @extend %validation-icon;
    &::after {
        background-image: url('/assets/img/valid.svg');
    }
}

.invalid-message {
    color: $color-error;
    font-size: 12px;
    margin-top: -16px;
    margin-left: 24px;
}

div.toastmessage {
    @include flex($align: center);
    gap: 8px;
    position: fixed;
    bottom: 50%;
    right: 0;
    z-index: 999;
    height: 64px;
    padding: 0 24px;
    border-radius: 10px;
    color: $color-white;
    font-size: 16px;
    font-weight: 700;
    opacity: 1;
    transform: translateX(100%);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-out;
}

div.toastmessage.toastmessage-slide-in {
    opacity: 1;
    transform: translateX(-24px);
}