@import '../../variables';
@import '../../mixins';


footer {
    @include flex();

    > div.content {
        @include flex($direction: column);
        @include content-width();
        @include section-padding();

        @media (max-width: $breakpoint-sm) {
            gap: 24px;
        }


        > div.main { 
            width: 100%;
            @include flex($justify: space-between);
            position: relative;

            @media (max-width: $breakpoint-sm) {
                @include flex($direction: column);
                gap: 24px;
            }

            >div.social-icons {
                @include flex();
                gap: 16px;

               
            }

             > span {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                color: $color-white;

                @media (max-width: $breakpoint-sm) {
                    left: auto;
                    position: unset;
                    transform: none;
                }
              }
        }

        > div.links {
            @include flex();
            gap: 16px;
        }
    }
}

a {
    cursor: pointer;
    color: $color-white;

    &:hover {
        font-weight: 700;
    }
}