<footer class="background-dark">
    <div class="content">
        <div>
            <img src="assets/img/logo.svg" alt="Logo">
            <span>&copy; Jens Natzschka 2024</span>
            <div class="social-icons">
                <a href=""><img src="assets/img/email.svg" alt="Email"></a>
                <a href=""><img src="assets/img/github.svg" alt="GitHub"></a>
                <a href=""><img src="assets/img/linkedin.svg" alt="LinkedIn"></a>
            </div>
        </div>
        <a href="">Imprint & Privacy Policy</a>
    </div>
</footer>