<footer class="background-dark">
    <div class="content">
        <div class="main">
            <img src="assets/img/logo.svg" alt="Logo">
            <span>&copy; {{ year }}</span>
            <div class="social-icons">
                @for (item of socialIcons; track item) {
                    <app-social-icon [icon]="item"></app-social-icon>
                }
            </div>
        </div>
        <div class="links">
            <a href="/imprint">{{ 'general.imprint' | translate }}</a>
            <a href="/privacy">{{ 'general.privacy' | translate }}</a>
        </div>
    </div>
</footer>