<section class="background-light">
    <div class="content">
        <nav>
            <app-language-switch class="maincolor"></app-language-switch>
            <a href="/">
                <img src="assets/img/arrow.svg" alt="back">
            </a>
        </nav>
        <div>
            <h1>{{ 'IMPRINT_TITLE' | translate }}</h1>
            <h2>{{ 'INFO_TMG_TITLE' | translate }}</h2>
            <p>
                {{ 'RESPONSIBLE_CONTENT_INFO_NAME' | translate }}<br/>
                {{ 'RESPONSIBLE_CONTENT_INFO_STREET' | translate }}<br/>
                {{ 'RESPONSIBLE_CONTENT_INFO_TOWN' | translate }}
            </p>
            <h2>{{ 'CONTACT_TITLE' | translate }}</h2>
            <p>
                {{ 'CONTACT_PHONE' | translate }}<br>
                {{ 'CONTACT_EMAIL' | translate }}
            </p>
            <h2>{{ 'RESPONSIBLE_CONTENT_TITLE' | translate }}</h2>
            <p>
                {{ 'RESPONSIBLE_CONTENT_INFO_NAME' | translate }}<br/>
                {{ 'RESPONSIBLE_CONTENT_INFO_STREET' | translate }}<br/>
                {{ 'RESPONSIBLE_CONTENT_INFO_TOWN' | translate }}
            </p>
            <h2>{{ 'LIABILITY_CONTENT_TITLE' | translate }}</h2>
            <p>
                {{ 'LIABILITY_CONTENT_DESC' | translate }}
            </p>
            <p>
                {{ 'LIABILITY_CONTENT_NOTICE' | translate }}
            </p>
            <h2>{{ 'LIABILITY_LINKS_TITLE' | translate }}</h2>
            <p>
                {{ 'LIABILITY_LINKS_DESC' | translate }}
            </p>
            <p>
                {{ 'LIABILITY_LINKS_NOTICE' | translate }}
            </p>
            <h2>{{ 'COPYRIGHT_TITLE' | translate }}</h2>
            <p>
                {{ 'COPYRIGHT_DESC' | translate }}
            </p>
            <p>
                {{ 'COPYRIGHT_NOTICE' | translate }}
            </p>
            <p>
                {{ 'COPYRIGHT_SOURCE' | translate }}
            </p>
        </div>
    </div>
</section>