<section class="background-light">
    <div class="content">
        <nav>
            <app-language-switch class="maincolor"></app-language-switch>
            <a href="/">
                <img src="assets/img/arrow.svg" alt="back">
            </a>
        </nav>
        <div>
            <h1>{{ 'IMPRINT_TITLE' | translate }}</h1>
            <h2>{{ 'INFO_TMG_TITLE' | translate }}</h2>
            <p>
                {{ 'RESPONSIBLE_CONTENT_INFO_NAME' | translate }}<br/>
                {{ 'RESPONSIBLE_CONTENT_INFO_STREET' | translate }}<br/>
                {{ 'RESPONSIBLE_CONTENT_INFO_TOWN' | translate }}
            </p>
            <h2>{{ 'CONTACT_TITLE' | translate }}</h2>
            <p>
                {{ 'CONTACT_PHONE' | translate }}<br>
                {{ 'CONTACT_EMAIL' | translate }}
            </p>
            <h2>{{ 'RESPONSIBLE_CONTENT_TITLE' | translate }}</h2>
            <p>
                {{ 'RESPONSIBLE_CONTENT_INFO_NAME' | translate }}<br/>
                {{ 'RESPONSIBLE_CONTENT_INFO_STREET' | translate }}<br/>
                {{ 'RESPONSIBLE_CONTENT_INFO_TOWN' | translate }}
            </p>
            <h2>{{ 'LIABILITY_CONTENT_TITLE' | translate }}</h2>
            <p>
                {{ 'LIABILITY_CONTENT_DESC' | translate }}
            </p>
            <p>
                {{ 'LIABILITY_CONTENT_NOTICE' | translate }}
            </p>
            <h2>{{ 'LIABILITY_LINKS_TITLE' | translate }}</h2>
            <p>
                {{ 'LIABILITY_LINKS_DESC' | translate }}
            </p>
            <p>
                {{ 'LIABILITY_LINKS_NOTICE' | translate }}
            </p>
            <h2>{{ 'COPYRIGHT_TITLE' | translate }}</h2>
            <p>
                {{ 'COPYRIGHT_DESC' | translate }}
            </p>
            <p>
                {{ 'COPYRIGHT_NOTICE' | translate }}
            </p>
            <p>
                {{ 'COPYRIGHT_SOURCE' | translate }}
            </p>
        </div>
        <div>
            <h1>{{ 'PRIVACY_POLICY_TITLE' | translate }}</h1>

            <p>
                {{ 'PRIVACY_POLICY_INTRO' | translate }}
            </p>

            <p>
                {{ 'PRIVACY_POLICY_GDPR_DEF' | translate }}
            </p>

            <p>
                {{ 'PRIVACY_POLICY_SCOPE' | translate }}
            </p>

            <p>
                {{ 'PRIVACY_POLICY_STRUCTURE' | translate }}
            </p>

            <p>
                {{ 'PRIVACY_POLICY_STRUCTURE_DETAILS' | translate }}
            </p>

            <h3>{{ 'PRIVACY_POLICY_CONTROLLER_TITLE' | translate }}</h3>

            <p>
                {{ 'PRIVACY_POLICY_CONTROLLER_DETAILS' | translate }}
            </p>

            <p>
                {{ 'RESPONSIBLE_CONTENT_INFO_NAME' | translate }}<br/>
                {{ 'RESPONSIBLE_CONTENT_INFO_STREET' | translate }}<br/>
                {{ 'RESPONSIBLE_CONTENT_INFO_TOWN' | translate }}
            </p>

            <h3>{{ 'PRIVACY_POLICY_RIGHTS_TITLE' | translate }}</h3>

            <p>
                {{ 'PRIVACY_POLICY_RIGHTS_INTRO' | translate }}
            </p>

            <ul>
                <li>{{ 'PRIVACY_POLICY_RIGHTS_CONFIRMATION' | translate }}</li>
                <li>{{ 'PRIVACY_POLICY_RIGHTS_CORRECTION' | translate }}</li>
                <li>{{ 'PRIVACY_POLICY_RIGHTS_DELETION' | translate }}</li>
                <li>{{ 'PRIVACY_POLICY_RIGHTS_TRANSFER' | translate }}</li>
                <li>{{ 'PRIVACY_POLICY_RIGHTS_COMPLAINT' | translate }}</li>
            </ul>

            <p>
                {{ 'PRIVACY_POLICY_RIGHTS_NOTIFICATIONS' | translate }}
            </p>

            <p>
                <strong>{{ 'PRIVACY_POLICY_RIGHTS_OBJECTION' | translate }}</strong>
            </p>

            <h3>{{ 'PRIVACY_POLICY_DATA_PROCESSING_TITLE' | translate }}</h3>

            <p>
                {{ 'PRIVACY_POLICY_DATA_PROCESSING_DESC' | translate }}
            </p>

            <h4>{{ 'PRIVACY_POLICY_CONTACT_TITLE' | translate }}</h4>
            <p>
                {{ 'PRIVACY_POLICY_CONTACT_DESC' | translate }}
            </p>
            <p>
                {{ 'PRIVACY_POLICY_CONTACT_LEGAL_BASIS' | translate }}
            </p>
            <p>
                {{ 'PRIVACY_POLICY_CONTACT_DELETION' | translate }}
            </p>

            <p>
                {{ 'PRIVACY_POLICY_SOURCE_CREDITS' | translate }}
            </p>
           
        </div>
    </div>
</section>