@import 'app/shared/variables';
@import 'app/shared/mixins';

@font-face {
    font-family: 'Baloo';
    src: url('./assets/fonts/Baloo-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-VF.woff2') format('woff2');
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    color: $color-black;
}

.no-scroll {
    overflow: hidden !important;
}

h1 {
    font-family: 'Baloo';
}

h2 {
    font-family: 'Baloo';
    font-size: 96px;
    letter-spacing: 0.01em;

    @media (max-width: $breakpoint-xl) {
        font-size: 72px;
        line-height: 72px;
    }

    @media (max-width: $breakpoint-lg) {
        font-size: 64px;
        line-height: 64px;
    }

    @media (max-width: $breakpoint-md) {
        font-size: 72px;
        line-height: 72px;
        color: $color-white;
    }

    @media (max-width: $breakpoint-sm) {
        font-size: 54px;
        line-height: 54px;
    }
}

h3 {
    font-family: 'Baloo';
    font-size: 48px;
    line-height: 40px;
}


p {
    font-size: 24px;
    line-height: 28px;

    @media (max-width: $breakpoint-lg) {
        font-size: 22px;
        line-height: 26px;
    }

    @media (max-width: $breakpoint-md) {
        font-size: 20px;
        line-height: 24px;
    }
}

a {
    text-decoration: none;
    color: $base-color;
    transition: all 0.125s ease;

    &:visited {
        text-decoration: none;
        color: $base-color;
    }

    &:hover {
        text-decoration: none;
        font-weight: 700;
        color: $base-color-dark;
    }
}

.button, button {
    all:unset;
    @include flex();
    cursor: pointer;
    text-decoration: none;
    height: 56px;
    min-width: 244px;
    border: 2px solid $base-color;
    border-radius: 16px;
    color: $base-color;
    font-size: 24px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: color 0.25s ease;
    z-index: 100;

    &:visited {
        text-decoration: none;
        color: $base-color;
    }

    &:hover {
        color: $color-white;
        font-weight: 400;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -155%;
        width: 150%;
        height: 100%;
        background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, $base-color 6.25%, $base-color 51.56%, $base-color-dark 100%);
        transform: skewX(-10deg);
        transition: left 0.25s ease-in-out;
        z-index: -1;
    }

    &:hover::before {
        left: -25%;
        border: 2px solid $base-color;
    }
}

button:disabled {
    cursor:not-allowed;
    border: 2px solid $color-grey;
    color: $color-grey;

    &::before {
        display: none
    }
}

section {
    @include flex();
    overflow: hidden;

    >div.content {     
        @include content-width();
        @include section-padding();
    }
}

.background-light {
    background: linear-gradient(179.99deg, $color-white 12.89%, $bask-color-light 91.39%);
}

.background-dark {
    background: linear-gradient(128.94deg, $base-color -33.96%, $base-color 36.71%, $base-color-dark 112.25%);
}

.bubble {
    position: absolute;
    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, $base-color 6.25%, $base-color 51.56%, $base-color-dark 100%);
    border-radius: 100%;
}

input[type=text],
input[type=email],
textarea {
    all: unset;
    box-sizing: border-box;
    border: 1px solid $base-color;
    border-radius: 10px;
    padding: 16px 24px;

    &:hover {
        border: 1px solid $base-color-dark;
        box-shadow: 0 0 0 1px $base-color-dark;
    }

    &:focus {
        border: 1px solid $base-color;
        box-shadow: none;
    }
}