@import 'colors';

@font-face {
    font-family: 'Baloo';
    src: url('./assets/fonts/Baloo-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
    font-style: normal; 
    font-weight: 100 900; 
    font-display: swap;
  }

  *{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
}

.bubble {
    position: absolute;
    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, $base-color 6.25%, $base-color 51.56%, $base-color-dark 100%);
    border-radius: 100%;
}